<div>
    <h2 id="page-heading">
        <span>Extract Organisation Audits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-extract-organisation-audit" [routerLink]="['/extract-organisation-audit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Extract Organisation Audit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="extractOrganisationAudits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Created Date</span></th>
            <th><span>Success</span></th>
            <th><span>Organisation</span></th>
            <th><span>Extract Config</span></th>
            <th><span>Extract Tables</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extractOrganisationAudit of extractOrganisationAudits ;trackBy: trackId">
                <td><a [routerLink]="['/extract-organisation-audit', extractOrganisationAudit.id, 'view' ]">{{extractOrganisationAudit.id}}</a></td>
                <td>{{extractOrganisationAudit.createdDate | date:'medium'}}</td>
                <td>{{extractOrganisationAudit.success}}</td>
                <td>
                    <div *ngIf="extractOrganisationAudit.organisation">
                        <a [routerLink]="['../organisation', extractOrganisationAudit.organisation?.id, 'view' ]" >{{extractOrganisationAudit.organisation?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extractOrganisationAudit.extractConfig">
                        <a [routerLink]="['../extract-config', extractOrganisationAudit.extractConfig?.id, 'view' ]" >{{extractOrganisationAudit.extractConfig?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extractOrganisationAudit.extractTables">
                        <a [routerLink]="['../extract-tables', extractOrganisationAudit.extractTables?.id, 'view' ]" >{{extractOrganisationAudit.extractTables?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/extract-organisation-audit', extractOrganisationAudit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/extract-organisation-audit', extractOrganisationAudit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'extract-organisation-audit', { outlets: { popup: extractOrganisationAudit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
