<div>
    <h2 id="page-heading">
        <span>Extract Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-extract-config" [routerLink]="['/extract-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Extract Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="extractConfigs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Extractname</span></th>
            <th><span>Type</span></th>
            <th><span>Requestingorg</span></th>
            <th><span>Active</span></th>
            <th><span>Deleted</span></th>
            <th><span>Email Contact</span></th>
            <th><span>Created Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extractConfig of extractConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/extract-config', extractConfig.id, 'view' ]">{{extractConfig.id}}</a></td>
                <td>{{extractConfig.extractname}}</td>
                <td>{{extractConfig.type}}</td>
                <td>{{extractConfig.requestingorg}}</td>
                <td>{{extractConfig.active}}</td>
                <td>{{extractConfig.deleted}}</td>
                <td>{{extractConfig.emailContact}}</td>
                <td>{{extractConfig.createdDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/extract-config', extractConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/extract-config', extractConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'extract-config', { outlets: { popup: extractConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
