<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-extract-config-heading">Create or edit a Extract Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!extractConfig.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="extractConfig.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_extractname">Extractname</label>
                    <input type="text" class="form-control" name="extractname" id="field_extractname"
                        [(ngModel)]="extractConfig.extractname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="extractConfig.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_requestingorg">Requestingorg</label>
                    <input type="text" class="form-control" name="requestingorg" id="field_requestingorg"
                        [(ngModel)]="extractConfig.requestingorg" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="extractConfig.active" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                        [(ngModel)]="extractConfig.deleted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailContact">Email Contact</label>
                    <input type="text" class="form-control" name="emailContact" id="field_emailContact"
                        [(ngModel)]="extractConfig.emailContact" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
