<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organisation">
            <h2><span>Organisation</span> {{organisation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>C DB</span></dt>
                <dd>
                    <span>{{organisation.cDB}}</span>
                </dd>
                <dt><span>Organisation Name</span></dt>
                <dd>
                    <span>{{organisation.organisationName}}</span>
                </dd>
                <dt><span>National Practice Code</span></dt>
                <dd>
                    <span>{{organisation.nationalPracticeCode}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{organisation.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organisation', organisation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
