<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extractDetails">
            <h2><span>Extract Details</span> {{extractDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{extractDetails.key}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <div *ngIf="extractDetails.value">
                        <a (click)="openFile(extractDetails.valueContentType, extractDetails.value)">open</a>
                        {{extractDetails.valueContentType}}, {{byteSize(extractDetails.value)}}
                    </div>
                </dd>
                <dt><span>Extract Config</span></dt>
                <dd>
                    <div *ngIf="extractDetails.extractConfig">
                        <a [routerLink]="['/extract-config', extractDetails.extractConfig?.id, 'view']">{{extractDetails.extractConfig?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/extract-details', extractDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
