<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-extract-tables-heading">Create or edit a Extract Tables</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!extractTables.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="extractTables.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tablename">Tablename</label>
                    <input type="text" class="form-control" name="tablename" id="field_tablename"
                        [(ngModel)]="extractTables.tablename" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isExtractable">Is Extractable</label>
                    <input type="checkbox" class="form-control" name="isExtractable" id="field_isExtractable"
                        [(ngModel)]="extractTables.isExtractable" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
