<div>
    <h2 id="page-heading">
        <span>Extract Tables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-extract-tables" [routerLink]="['/extract-tables/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Extract Tables
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="extractTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tablename</span></th>
            <th><span>Is Extractable</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extractTables of extractTables ;trackBy: trackId">
                <td><a [routerLink]="['/extract-tables', extractTables.id, 'view' ]">{{extractTables.id}}</a></td>
                <td>{{extractTables.tablename}}</td>
                <td>{{extractTables.isExtractable}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/extract-tables', extractTables.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/extract-tables', extractTables.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'extract-tables', { outlets: { popup: extractTables.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
